<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    {% include 'head.html' %}
    <style>
        tr:hover
        {
           background-color: rgba(234, 231, 231, 0.96)
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        {% include 'nav.html' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'top_nav.html' %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">船艦、載具</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <a href="{% url 'vessel_table' %}"><p class="text-primary m-0 fw-bold">船艦資訊</a> | <a >武器資訊</p></a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>彈型</th>
                                            <th>預設負荷量</th>
                                            <th>隸屬</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for missile in missile_list %}
                                        <tr>
                                            <td><a href="missile/{{missile.id}}">{{ missile.type }}</a></td>
                                            <td>{{ missile.default_num }}</td>
                                            <td>{% if missile.belongs_to == 'a'%}我軍{% else %}敵軍{% endif %}</td>
                                            <td>{{ missile.damage }}</td>

                                        </tr>
                                    {% endfor %}

                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © NYCU 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

</body>

</html>
