<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    {% include 'head.html' %}
    <style>
        tr:hover
        {
           background-color: rgba(234, 231, 231, 0.96)
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        {% include 'nav.html' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'top_nav.html' %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">船艦、載具</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">船艦資訊</p>
                        </div>
                        <div class="card-body">

                             <form method="POST">{% csrf_token %}
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>艦級/艦型</strong></label><br>{{ form.type_id }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>艦種</strong></label><br>{{ form.typename }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>隸屬</strong></label><br>{{ form.belongs_to }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>價值</strong></label><br>{{ form.value }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>預設火力1/最大火力</strong></label><br>{{ form.fire1 }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>預設火力2</strong></label><br>{{ form.fire2 }}</div>
                                    </div>
                                </div>
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                            </form>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © NYCU 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

</body>

</html>
